body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Change background color */
    color: #000; /* Change color of headings */
}

header {
    background-color: #000; /* Change background color */
    color: #000; /* Change color of headings */
    padding: 1rem;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

h1 {
    font-size: 3rem;
}

section {
    padding: 40px 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
}

form button {
    padding: 10px 20px;
    background-color: #800080;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: black;
}


.hero-image {
    width: 250px;  /* Adjust width as needed */
    height: auto;  /* Keep the aspect ratio */
}
